{% extends 'base.html.twig' %}

{% block title %}Bienvenu e user.uname!{% endblock %}

{% block body %}
	<div class="container">
			{% include "/menu.html.twig" %}
		<main>
			<div class="py-5 text-center mt-5">
				<h2>Bienvenu e au portail des applications de la Gouvernance
				</h2>
				<p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
			</div>
			<div class="container-fluid d-flex mt-2">
				<div class="col-4 card bg-success" style="margin: 24px;">
					<div class="card-header">
						<h4 class="card-title">Gestion des Associations</h4>
					</div>
					<div class="card-body">
						<p class="card-text">Rationnalisation des organisations non et gouvernementales. Cette application permet de gérer les associations enregistrées au niveau de la Gouvernance.</p>
					</div>
					<div class="card-footer text-muted">
						<a name="" id="" class="btn btn-primary" href="{{ path('gestion_association_index') }}" role="button">Gestion des Associations</a>
					</div>
				</div>
				<div class="col-4 card" style="background: yellow;">
					<div class="card-header">
						<h4 class="card-title">Gestion des Baux</h4>
					</div>
					<div class="card-body">
						<p class="card-text">Rationnalisation des organisations non et gouvernementales. Cette application permet de gérer les associations enregistrées au niveau de la Gouvernance.</p>
					</div>
					<div class="card-footer text-muted">
						<a name="" id="" class="btn btn-primary" href="#" role="button">Gestion des Baux</a>
					</div>
				</div>
				<div class="col-4 card bg-danger" style="margin: 24px;">
					<div class="card-header">
						<h4 class="card-title">Gestion des Débits</h4>
					</div>
					<div class="card-body">
						<p class="card-text">Rationnalisation des organisations non et gouvernementales. Cette application permet de gérer les associations enregistrées au niveau de la Gouvernance.</p>
					</div>
					<div class="card-footer text-muted">
						<a name="" id="" class="btn btn-primary" href="#" role="button">Gestion des Débits</a>
					</div>
				</div>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2021 Ministère de l'Intérieur | Directon de l'Administration Territoriale</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#" class="btn btn-outline-primary">Propulsé par Demarch</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>

{% endblock %}
