{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h6 class="display-4">MINISTERE DE L'INTERIEUR</h6>
        <p class="lead">Direction de l'Administration Territoriale </p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('home') }}" role="button">Visiter le front office</a>
        </p>
    </div>

{% endblock %}