@import "../node_modules/bootstrap/scss/bootstrap";
$primary: #0dcaf0;
$secondary: #20c997;
$success: #198754;
$info: #6610f2;
$light: #f8f9fa;
$danger: #dc3545;
$warning: #fd7e14;
// $primary: #0d6efd;