{#How to fix for easyadmin3:
#thumbnail.html.twig#}
<a href="{{ field.customOption('base_path') ~ '/' ~ entity.instance.recipisses}}">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    {{ entity.instance.recipisses }}
</a>