{% extends 'base.html.twig' %}

{% block title %}Edit GestionAssociation{% endblock %}

{% block body %}
    <h1>Edit GestionAssociation</h1>

    {{ include('gestion_association/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gestion_association_index') }}">back to list</a>

    {{ include('gestion_association/_delete_form.html.twig') }}
{% endblock %}
