{% extends 'base.html.twig' %}

{% block title %}Gestion Association{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block body %}
    {% include "/menu.html.twig" %}

    <div class="main-content" style="margin-bottom: 6rem;">
    </div>
<div class="main-content">
    <div class="container mt-4"> 
        <div class="row justify-content-start">
        <div class="col-sm-6 form-group d-flex">
            {# {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }} 
             #}{{form(form)}}
        </div>
        </div>
        <h1 class="mt-4">Liste des Associations  </h1
        {% include "/gestion_association/_content.html.twig" %}

    </div>
</div>
{% endblock %}
